.btn { padding: 0 20px; height: 30px; line-height: 30px; background: yellow; color: #000; text-align: center; border-radius: 15px; }

div { width: 300px; height: 300px; background: #000; border: 1px solid red; position: absolute; left: 50%; z-index: 2; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
