.ic1 { border: 1px solid red; }

.ic2 { border: 1px solid red; }

.ic3 { border: 1px solid red; }

.ic4 { border: 1px solid red; }

.ic5 { border: 1px solid red; }

.ict1 { border: 1px solid blue; }

.ict2 { border: 1px solid blue; }

.ict3 { border: 1px solid blue; }

.ict4 { border: 1px solid blue; }

.ict5 { border: 1px solid blue; }
