.icred { border: 1px solid red; }

.icblue { border: 1px solid blue; }

.icpink { border: 1px solid pink; }

.icblack { border: 1px solid black; }

.icyellow { border: 1px solid yellow; }

.ictred { border: 1px solid red; }

.ictblue { border: 1px solid blue; }

.ictpink { border: 1px solid pink; }

.ictblack { border: 1px solid black; }

.ictyellow { border: 1px solid yellow; }

h1 { font-size: 30px; }

h2 { font-size: 20px; }

h3 { font-size: 15px; }

h1 { color: red; }

h2 { color: blue; }

h3 { color: green; }
