.basic { border: 1px solid blue; margin-bottom: 30px; }

.basic:after { content: ""; display: block; clear: both; }

.basic p { float: left; width: 100px; height: 100px; border: 1px solid red; }

.instance { border: 1px solid red; margin-bottom: 30px; }

.instance p:nth-child(1) { border: 1px solid blue; }

.instance p:nth-child(2) { border: 1px solid pink; }

.instance p:nth-child(3) { border: 1px solid green; }

.box { width: 300px; height: 400px; border: 1px solid purple; }
